<!DOCTYPE html>
<html xmlns th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="#" th:action="@{/saveEmployee}" th:object="${emp}" method="post">

Id<input type="hidden" th:field="*{id}"><br><br><br>
Name<input type="text" th:field="*{name}"><br><br><br>
City<input type="text" th:field="*{city}"><br><br><br>
Age<input type="number" th:field="*{age}"><br><br><br>
<input type="submit">

</form>
</body>
</html>